* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  background: #f1f2f6;
}

.app__layout {
  width: 100%;
  margin: 0 auto;
  max-width: 700px;
  padding: 20px;
}

.app-header {
  background: #5352ed;
  color: #2f3542;
}
.app-btn {
  padding: 10px 20px;
  margin-right: 10px;
  background: #f1f2f6;
  color: #2f3542;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  border: 0;
  box-shadow: 5px 5px 10px #2f354220, -5px -5px 10px #fff;
  border-radius: 10px;
}
.app-btn:hover {
  background: #5352ed;
  box-shadow: 5px 5px 10px #3742fa55, -5px -5px 10px #3742fa25;
}
